body {
    font-family: Helvetica, Arial, sans-serif;
    color: #999;
}

body h1 {
    text-align: center;
}

div.profile-image img {
    width: 300;
    height: 380px;
    float: right;
    margin-top: 20px;
    padding: 0 20px; 
}

#container {
    height: 100%;
}

#container .inner {
    border-color: transparent;
    border-style: solid;
    max-width: 2000px;
    margin: 0 auto;
    border-left-width: 70px;
    border-right-width: 70px;
}

header {
    width: 100%;
    padding: 2.5em 0;
}

header .inner {
    display: flex;
    align-content: center;
    align-items: center;
}

header .logo-name {
    font-size: 24px;
}

header .logo-name a {
    text-decoration: none;
    transition: color .2s linear;
    color: grey;
}

.menu {
    background: none;
    display: block;
    margin-left: auto;
    position: inherit;
    height: auto;
    font-size: 1em;
}

.menumenu::after {
    border-bottom: 1px solid black;
}

.menu ul {
    min-width: 480px;
    height: auto;
    display: inline;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu li {
    margin-left: 1.8em;
    display: inline-block;
    list-style: none;
}

.menu ul li .first-child {
    display: none;
}

.menu a {
    text-decoration: none;
    transition: color .2s linear;
    color: grey;
}

.menu li a:hover {
    color: black;
}



/* About page layout */

body header h1 {
    font-size: 2em;
    color: #4d4d4d;
    text-transform: uppercase;
    font-weight: 400;
    
}
.about-content {
    width: 80%;
    margin: auto;
}

.about-content p {
    padding: 0 20px;
}

.about-content h2 {
    color: #4d4d4d;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px;
    font-size: 1.25em;
}

div.profile-image img {
    width: 300;
    height: 380px;
    float: right;
    margin-top: 20px;
    padding: 0 20px; 
}