* {
    box-sizing: border-box;
}

body, html {
    font-family: normal 14px Helvetica, Arial, sans-serif;
    background-color: white;
    margin: 0 auto;
    height: 100%;
    line-height: 28px;
    font-weight: 300;
}

h1, h2 {
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

#home {
    background-image: url("../img/home.jpg");
    height: 100%;
    border: 2px solid rgb(31, 31, 41);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#home::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.10);
    position: absolute;
}

.intro {
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
}

.intro h1 {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 16px;
    color: green;
}

.intro h1 span {
    color: red;
}


.intro-sub {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px
}

.intro h1, .intro p {
    color: white;
}

.container {
    margin-left: 44px;
    margin-right: 44px;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    position: relative;
    margin: 20px 0;
    padding-bottom: 20px;
}

.header::after {
    border: 1px solid #eee;
    position: absolute;
    width: 100%;
    content: "";
    height: 2px;
    bottom: 1px;
    left: 0;
}

.logo-name {
    justify-content: left;
    /* margin-left: 44px; */
}

.logo-name a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: normal 20px Helvetica, Arial, sans-serif;
}

.menu {
    justify-content: right;
}

.menu a {
    font-size: normal 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    padding-left: 30px;
    color: black;
    transition: color .25s linear;
}

.menu li a:hover  {
    color: red;
}

#biography {
    border: 1px solid red;
}

.content {
    margin-top: 10px;
    padding: 30px 70px 0 0;
}

.content h2 {
    color: #4d4d4d;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25em;
    margin: 10px 0 10px;
}

.content p {
    color: #4d4d4d;
    
}

.about-me-title {
    margin-top: 50px;
    text-align: center;

}

.section-title {
    margin: 0 auto;
    font-size: 50px;
}

.myphoto img {
    width: 320px;
    height: 450px;
    float: right;
    margin: 50px 10px;
}

